.section {
  padding-top: 3rem;
  padding-bottom: var(--padding-section);
}

.section--hero {
  background-image: url("/assets/img/abstract-futuristic-background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  box-sizing: border-box;
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}

.titulo {
  text-align: center;
  font-size: 40px;
}

.titulo2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 40px;
  padding-top: 0px;
}

.boton {
  padding-top: 50px;
  margin-top: 100 px;
  margin-bottom: 40px;
  display: flex;
  grid-column: 50 px;
  width: 90%;
  justify-content: space-around;
  gap: 10 px;
}
.boton--1 {
  display: flex;
  padding: 15px;

  flex-direction: column;
  background-color: var(--primary-button-color);
  border-radius: 8px;
  color: white;
  justify-content: center;
}

.botonbajo {
  padding-top: 50px;
  margin-top: 100 px;
  margin-bottom: 40px;
  display: flex;
  grid-column: 50 px;
  width: 90%;
  justify-content: center;
  gap: 10 px;
}
.boton--2 {
  display: flex;
  padding: 15px;
  flex-direction: column;
  background-color: var(--primary-button-color);
  border-radius: 8px;
  color: white;
}

.f-elements {
  display: flex;
}

.f-elements--header {
  align-items: center;
  justify-content: space-between;
}

.f-elements--center {
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.f-elements--main {
  padding-right: 20px;
}

.f-elements--footer {
  text-align: center;
  padding-top: 20px;
}
.f-elements--responsive {
  flex-direction: column;
}

.f-elements--iconos {
  flex-direction: column;
}

@media (min-width: 768px) {
  .f-elements--responsive {
    flex-direction: column;
  }
  .f-elements--iconos {
    flex-direction: row;
  }
}
