.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}
.f-elements {
  display: flex;
}

.f-elements--center {
  align-items: center;
  justify-content: center;
}

.f-elements--gap-20 {
  gap: 20px;
}
.f-elements--col {
  flex-direction: column;
}

.f-elements--justify-beetween {
  justify-content: space-between;
}
