.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}
.f-elements {
  display: flex;
}

.f-elements--center {
  align-items: center;
  justify-content: center;
}

.f-elements--gap {
  gap: var(--padding-container);
}

.f-elements--col {
  flex-direction: column;
}

.f-elements--justify-beetween {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    --padding-container: 40px;
    padding: var(--padding-container);

    --max-width-container: 100%;
  }
  .f-elements--gap {
    gap: calc(var(--padding-container) * 0.3);
  }
}
